<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{/common/bootstrap.html}"></div>
    <title>Modification d'une guilde - Valo Jungle Site</title>
</head>
<body>
    <div th:replace="~{/common/navbar.html}"></div>

    <form method="POST">
        <label>
            Nom :
            <input type="text" name="nom" th:value="${guilde.nom}" required>
        </label>

        <label>
            Tag (ex: [VJL]) en trois lettres :
            <input oninput="this.value = this.value.toUpperCase()" type="text" name="tag" minlength="3" maxlength="3" size="3" th:value="${guilde.tag}" required>
        </label>

        <label>
            Lien de l'emblème de la guilde :
            <input type="text" name="lienEmbleme" th:value="${guilde.lienEmbleme}" required>
        </label>

        <label>
            Couleur de la guilde
            <input type="color" name="couleurHex" th:value="${guilde.couleurHex}" required>
        </label>

        <label>
            Chef de la guilde :
            <select name="chef" required>
                <option th:each="joueurSansGuildeEtChef : ${joueursSansGuildeEtChef}" th:selected="${joueurSansGuildeEtChef.isEstChef()}" th:value="${joueurSansGuildeEtChef.id}" th:text="|${joueurSansGuildeEtChef.prenom} ${joueurSansGuildeEtChef.nom} (${joueurSansGuildeEtChef.pseudo})|"></option>
            </select>
        </label>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</body>
</html>
