<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{/common/bootstrap.html}"></div>
    <title>Gestion des guildes - Valo Jungle Site</title>
</head>
<body>
    <div th:replace="~{/common/navbar.html}"></div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Tag</th>
            <th>Lien emblème</th>
            <th>Couleur</th>
            <th>Chef</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="guilde: ${guildes}">
            <td th:text="${guilde.id}"></td>
            <td th:text="${guilde.nom}"></td>
            <td th:text="|[${guilde.tag}]|"></td>
            <td th:text="${guilde.lienEmbleme}"></td>
            <td th:style="|background-color: ${guilde.couleurHex}|"></td>
            <td>
                <span th:each="membre : ${guilde.membres}">
                    <span th:if="${membre.estChef}">
                        <span th:text="${membre.prenom} + ' ' + ${membre.nom} + ' (' + ${membre.pseudo} + ')'"></span>
                    </span>
                </span>
            </td>
            <td>
                <a th:href="@{/admin/guild-dashboard/edit-guild/{id}(id=${guilde.id})}">
                    Éditer
                </a>
            </td>
            <td>
                <a th:href="@{/admin/guild-dashboard/delete-guild/{id}(id=${guilde.id})}">
                    Supprimer
                </a>
            </td>
        </tr>
        </tbody>
    </table>


    <a href="/admin/guild-dashboard/new-guild">Créer une nouvelle guilde</a>
    </body>
</html>