<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{/common/bootstrap.html}"></div>
    <title>Rejoindre une guilde - Valo Jungle Site</title>
</head>
<body>
    <div th:replace="~{/common/navbar.html}"></div>

    <form method="POST">
        <label>
            Guilde :
            <select name="guilde" required>
                <option th:each="guilde : ${guildes}" th:value="${guilde.id}" th:text="|[${guilde.tag}] ${guilde.nom}|"></option>
            </select>
        </label>

        <button type="submit">Rejoindre</button>
    </form>
</body>
</html>
