<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <div th:insert="~{/common/head.html}"></div>
  <title>Création d'un utilisateur - Valo Jungle Site</title>
</head>
<body>
  <div class="d-flex flex-column min-vh-100">
    <div th:insert="~{/common/navbar.html}"></div>

    <div class="container-fluid text-center flex-fill contenu-principal">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">
            Créer un utilisateur
          </h3>
          <form role="form" method="POST">
            <div class="form-group mb-2">
              <label>
                Nom d'utilisateur
                <input class="form-control" type="text" name="username" required>
              </label>
            </div>
            <div class="form-group mb-2">
              <label>
                Mot de passe
                <input class="form-control" type="password" name="password" required>
              </label>
            </div>
            <div class="form-group mb-2">
              <label>
                Rôle
                <select class="form-select" id="roleSelect" name="role" required>
                  <option value="admin">Organisateur</option>
                  <option value="player">Joueur</option>
                </select>
              </label>
            </div>

            <div id="adminFields" style="display:none">
              <!-- Champs additionnels pour l'organisateur -->
              <div class="form-group mb-2">
                <label>
                  Nom d'utilisateur Discord
                  <input class="form-control" type="text" name="discordUsername">
                </label>
              </div>
              <div class="form-group mb-2">
                <label>
                  Adresse email
                  <input class="form-control" type="email" name="email" placeholder="nom@example.com">
                </label>
              </div>
            </div>

            <div id="playerFields" style="display:none">
              <!-- Champs additionnels pour le joueur -->
              <div class="form-group mb-2">
                <label>
                  Nom
                  <input class="form-control" type="text" name="nom">
                </label>
              </div>
              <div class="form-group mb-2">
                <label>
                  Prénom
                  <input class="form-control" type="text" name="prenom">
                </label>
              </div>
              <div class="form-group mb-2">
                <label>
                  Pseudonyme Minecraft
                  <input class="form-control" type="text" name="pseudo">
                </label>
              </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3">
              Créer
            </button>
          </form>
        </div>
      </div>
    </div>

    <div th:insert="~{/common/footer.html}"></div>
  </div>

  <script>
    const roleSelect = document.getElementById('roleSelect');
    const adminFields = document.getElementById('adminFields');
    const playerFields = document.getElementById('playerFields');

    // Vérifier la valeur initiale de la liste déroulante "Rôle"
    if (roleSelect.value === 'admin') {
      adminFields.style.display = 'block';
      playerFields.style.display = 'none';
    } else if (roleSelect.value === 'player') {
      adminFields.style.display = 'none';
      playerFields.style.display = 'block';
    } else {
      adminFields.style.display = 'none';
      playerFields.style.display = 'none';
    }

    roleSelect.addEventListener('change', function () {
      if (roleSelect.value === 'admin') {
        adminFields.style.display = 'block';
        playerFields.style.display = 'none';
      } else if (roleSelect.value === 'player') {
        adminFields.style.display = 'none';
        playerFields.style.display = 'block';
      } else {
        adminFields.style.display = 'none';
        playerFields.style.display = 'none';
      }
    });
  </script>
</body>
</html>