/* Boutons */

.boutonBlancFooter {
    background-image: url("../img/Bloc_Nuage.jpeg");
    background-size: 98px;
    border-width: 3px !important;
    border-color: #b0b0b0 !important;
    color: #8c8c8c !important;
    /* Augmente la taille du footer, à gérer */
    padding: 12px !important;
}

.boutonBlanc {
    background-image: url("../img/Bloc_Nuage.jpeg");
    background-size: 210px;
    border-width: 3px !important;
    border-color: #b0b0b0 !important;
    height: 42px !important;
    margin: 3px !important;
    transition : transform 0.5s;
}

.boutonBlanc:hover {
    transform : scale(1.1);
}

.contenuBoutonBlanc {
    border-width: 0 !important;
    color: #8c8c8c !important;
    padding: 0 !important;
}


.boutonBleu {
    background-image: url("../img/Bloc_Eau.jpeg");
    background-size: 105px;
    border-width: 3px !important;
    border-color: #0000eb !important;
    color: #f2f2f2 !important;
    margin: 3px !important;
    transition : transform 0.5s;
}

.boutonBleu:hover {
    transform : scale(1.1);
}


.boutonGrisFooter {
    background-image: url("../img/Bloc_Pierre.jpeg");
    background-size: 98px;
    border-width: 3px !important;
    border-color: #5d5d5d !important;
    color: #f2f2f2 !important;
    padding: 12px !important;
}

.boutonGris {
    background-image: url("../img/Bloc_Pierre.jpeg");
    background-size: 98px;
    border-width: 3px !important;
    border-color: #5d5d5d !important;
    color: #f2f2f2 !important;
    margin: 3px !important;
    transition : transform 0.5s;
}

.boutonGris:hover {
    transform : scale(1.1);
}


.boutonOrange {
    background-image: url("../img/Bloc_Lave.jpeg");
    background-size: 193px;
    border-width: 3px !important;
    border-color: #ff4800 !important;
    color: #8b4800 !important;
    margin: 3px !important;
    transition : transform 0.5s;
}

.boutonOrange:hover {
    transform : scale(1.1);
}



/* Cartes */

.carteGrise {
    background-image: url("../img/Bloc_Pierre.jpeg");
    background-size: 388px;
    border-width: 3px !important;
    border-color: #5d5d5d !important;
    color: #f2f2f2 !important;
    margin: 3px !important;
    transition : transform 0.5s;
}

.carteGrise:hover {
    transform : scale(1.1);
}


.carteNoire {
    background-color: #3c3c3c !important;
    border-width: 3px !important;
    color: #f2f2f2 !important;
    margin: 3px !important;
    transition : transform 0.5s;
}

.carteNoire:hover {
    transform : scale(1.1);
}


.conteneurCarte {
    margin: 30px;
    width: 424px;
}



/* Fond d'écran */

.contenu-principal {
    background-color: #3c3c3c;
    color: #f2f2f2;
    margin: 0;
    padding: 20px 20px;
    width: 100% !important;
}


.fondGrass {
    background-image: url("https://i.etsystatic.com/10800838/r/il/fb4f68/2825858925/il_794xN.2825858925_s5dq.jpg");
    background-size: 338px;
}


.fondDirt {
    background-image: url("https://i.pinimg.com/736x/e7/c6/ad/e7c6ad6df57f796e1e6a8301507ac3cf.jpg");
    background-size: 406px;
    padding: 50px 30px;
}



/* Tableaux */

table {
    background-color: #3c3c3c !important;
    color: #f2f2f2 !important;
    width: 90% !important;
}


td {
    padding: 12px;
}

th {
    padding: 12px;
}



/* Autres */

.fontBlanc {
    color: #f2f2f2 !important;
}
