/*
.custom {
    color: #452a31;
    background-color: #c6eee6 !important;
}
*/

.customNavbar {
    background-color: #c0d078 !important;
}

.customBoutons {
    background-color: #72b147 !important;
    border-color: #5a9a30 !important;
    border-width: 3px;
}
