.fondVert {
    background-color: #72b147 !important;
}

.fontBlanc {
    color: #f2f2f2 !important;
}

.boutonVert {
    background-color: #97c767 !important;
    border-width: 2px !important;
    border-color: #5a9a30 !important;
    margin: 3px !important;
}
