/* Ressources */
/*
<!-- CSS déjà implémenté dans les balises HTML -->
<link rel="stylesheet" type="text/css" href="/css/common/footer.css"/>
 */

/* Images */
#Logo2 {
    height : 400px;
    padding : 50px;
    text-align : center;
}

#Flame6 {
    position : absolute;
    top : 240px;
    left : 1076px;
    height : 60px;
    z-index : 1;
}

/* Reglages particuliers */
#Chevalier {
    position : absolute;
    height : 320px;
    top : 700px;
    left : 500px;
    transform: rotate(-10deg);
    transition : transform 0.2s;
    margin : 0 auto;
}

#Chevalier:hover {
    transform : scale(1.3);
}

/* Affichage */
#PostersAimantes {
    position : absolute;
    top : 140px;
    left : 1010px;
    font-size : 20px;
    font-style : oblique;
}

#Connexion {
    position : absolute;
    /* Ne pas oublier la virgule apres le style de police choisi (!) */
    font : 20px chancery, sans-serif;
    top : 110px;
    left : 1772px;
}

#Connexion:hover {
    color : #F9F9F9;
    text-decoration : underline;
}

/* Menu du header */
#HeadTable {
    width : 1520px;
    padding-top : 80px;
    padding-left : 10px;
    table-layout : fixed;
}

/* Survol des cliquables */
#HeadSelected1:hover {
    color : #F9F9F9;
}

#HeaderSelected {
    background-color : #D00006;
    font-style : normal;
}

/* Contact */
#GenreZone1 {
    margin-left : 82px;
    box-shadow : none;
}

/* Connexion */
#ConnexionSpace {
    position : absolute;
    font : 25px chancery, sans-serif;
    top : 254px;
    left : 800px;
    padding : 30px;
    background-color : #D00006;
}

#Ici {
    text-decoration : underline;
}

/* Balises */

html {
    border-width : 0;
}

a {
    color : #F9F9F9;
}

a:hover {
    color : #FF0000;
}

a:link {
    text-decoration : none;
}

/* Header */
.Header {
    width : 1829px;
    height : 300px;
    padding : 30px;
    /* Ordre : haut, droite, bas, gauche */
    margin : 0px 0px 0px 0px;
    float : left;
    background-color : #FF0000;
    color : #F9F9F9;
    text-align : center;
}

/* Produits */
.ColAfficheeMasquee {
    display : none;
}
