<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{/common/bootstrap.html}"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page d'accueil - Valo Jungle Site</title>
</head>
<body>
    <div th:replace="~{/common/navbar.html}"></div>

    <h1 class="text-center" style="font-size: 50px">Un serveur événements à part entière</h1>

    <img src="/img/LGlogo.png" alt="lg">


    <div th:if="${#authentication.getPrincipal().equals('anonymousUser')}">
        <a href="/register" class="btn btn-primary">S'inscrire</a>
        <a href="/login" class="btn btn-primary">Se connecter</a>
    </div>
    <div th:unless="${#authentication.getPrincipal().equals('anonymousUser')}">
        <a href="/logout" class="btn btn-primary">Se déconnecter</a>
    </div>
</body>
</html>