<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <div th:insert="~{/common/head.html}"></div>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Page d'accueil - Valo Jungle Site</title>
    </head>
    <body>
        <div class="d-flex flex-column min-vh-100">
            <div th:insert="~{/common/navbar.html}"></div>

            <div class="flex-fill text-center contenu-principal">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" style="margin: 30px;">
                            <h1>Un serveur événements à part entière</h1>

                            <div class="mb-3" style="margin: 30px;">
                                <img src="/img/uhc_minecraft.png" alt="uhc">
                            </div>

                            <div style="margin: 30px;">
                                <p>
                                    Bienvenue sur le site des évènements UHC Minecraft d'Artutu à CY Tech !
                                </p>

                                <p>
                                    Nos évènements sont spécialement conçus pour les amateurs de PvP (Player vs Player). Vous serez plongé dans des combats intenses, des stratégies astucieuses, et des moments inoubliables. Préparez-vous à affronter d'autres joueurs dans une lutte impitoyable pour la victoire.
                                    Que vous soyez un vétéran du PvP ou que vous débutiez dans le monde de l'UHC, nos évènements sont ouverts à tous.
                                </p>

                                <p>
                                    Restez à l'affût des dernières actualités et des prochains évènements en explorant notre site. Nous avons hâte de vous accueillir dans l'arène.
                                </p>

                                <p>
                                    Prêt à démarrer l'aventure ? Alors c'est parti !
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

            <div th:insert="~{/common/footer.html}"></div>
        </div>
    </body>
</html>
