<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="~{/common/head.html}"></div>
    <title>Modification d'un mode de jeu - Valo Jungle Site</title>
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <div th:insert="~{/common/navbar.html}"></div>

        <div class="flex-fill">
            <form method="POST">
                <label>
                    Nom :
                    <input type="text" name="nom" th:value="${modeDeJeu.nom}" required>
                </label>

                <label>
                    Description
                    <input type="text" name="description" th:value="${modeDeJeu.description}" required>
                </label>

                <label>
                    Lien GIF :
                    <input type="text" name="lienGIF" th:value="${modeDeJeu.lienGIF}" required>
                </label>

                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>

        <div th:insert="~{/common/footer.html}"></div>
    </div>
</body>
</html>