<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{/common/bootstrap.html}"></div>
    <title>Gestion des modes de jeu - Valo Jungle Site</title>
</head>
<body>
    <div th:replace="~{/common/navbar.html}"></div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Lien GIF</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="modeDeJeu: ${modesDeJeu}">
            <td th:text="${modeDeJeu.id}"></td>
            <td th:text="${modeDeJeu.nom}"></td>
            <td th:text="${modeDeJeu.description}"></td>
            <td th:style="'max-width: 300px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;'"><a th:href="${modeDeJeu.lienGIF}" th:text="${modeDeJeu.lienGIF}"></a></td>
            <td>
                <a th:href="@{/admin/gamemode-dashboard/edit-gamemode/{id}(id=${modeDeJeu.id})}" class="btn btn-primary">
                    Éditer
                </a>
            </td>
            <td>
                <a th:href="@{/admin/gamemode-dashboard/delete-gamemode/{id}(id=${modeDeJeu.id})}" class="btn btn-primary">
                    Supprimer
                </a>
            </td>
        </tr>
        </tbody>
    </table>


    <a href="/admin/gamemode-dashboard/new-gamemode" class="btn btn-primary">Créer un nouveau mode de jeu</a>
</body>
</html>